<div class="container align-items-center">
   <h3 class="col-10">Listado de presupuestos</h3>
   <button (click)="goHome()" type="button" class="col btn btn-success">Home</button>


@for (budget of filterItems(); track $index) {
   @if ($index === 0) {

   <div class="row mb-2 ">	
   
   <div class="d-flex justify-content-end">
      
         <button type="button" class="btn btn-outline-secondary me-3" (click)="sortBy('totalCost')">Precio</button>
         <button type="button" class="btn btn-outline-secondary me-3" (click)="sortBy('fecha')">Fecha</button>
         <button type="button" class="btn btn-outline-secondary me-3" (click)="sortBy('nombre')">ABC</button>
         
         <input type="text" class="form-control icon-custom w-25" [(ngModel)]="searchName" placeholder="Search..."
         (keyup)="filterItems()">
      </div>
      </div>
      

}


   <div class="card p-3 mb-2">
   <div class="row align-items-start card-body">
   
      <div class="col-md-5">
         <p class="card-title fs-4">{{ budget.nombre }}</p>
         <p class="card-text">{{ budget.email }}</p>
         <p class="card-text">{{ budget.telefono }}</p>
   
      </div>
   
      <div class="col-md-4">
         <p class="usuario fs-5">Servicios:</p>
            <ul>
            @for (service of budget.services; track service) {
               
               <li>{{ service.name }}: {{ service.price }} €</li>
               @if (service.name === 'Web'){
                  <p>(pages: {{ budget.pages }}, languages: {{ budget.languages }})</p>
                  }
            }
         
            </ul>
            
         </div>
   
      <div class="col-md-3">
         <p class="price fs-5">Total: <p class="small-euro">{{ budget.totalCost }} €</p>
      </div>
      </div>
   </div>

}






