<div  [formGroup]="panelForm">
   <div class="d-flex justify-content-end mt-2 align-items-center">
      
      <button mat-button (click)="openDialog('páginas', 'página')"><i class="bi bi-exclamation-circle"></i></button>
      <span>Número de páginas: </span>
      <button (click)="decrement('pages') " class="btn btn-primery"><i class="bi bi-dash-circle"></i></button>
      <input id="pages" type="number" formControlName="pages" style="width: 80px;">
      <button (click)="increment('pages')" class="btn btn-primery"><i class="bi bi-plus-circle"></i></button>
      
   </div>


   <div class="d-flex justify-content-end mt-2 align-items-center">
      <button mat-button (click)="openDialog('idiomas', 'idioma')"><i class="bi bi-exclamation-circle"></i></button>
      <span>Número de idiomas: </span>
      <button (click)="decrement('languages')" class="btn btn-primery"><i class="bi bi-dash-circle"></i></button>
      <input id="languages" type="number" formControlName="languages" style="width: 80px;">
      <button (click)="increment('languages')" class="btn btn-primery"><i class="bi bi-plus-circle"></i></button>
      </div>
</div>
